<IfModule mod_rewrite.c>
    # 1. Mengaktifkan Rewrite Engine
    RewriteEngine On

    # 2. Mencegah orang melihat daftar file jika membuka folder (Security)
    Options -Indexes

    # 3. Logika Routing (Opsional/Persiapan)
    # Jika file atau folder yang diminta TIDAK ADA...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # ...maka lempar kembali ke index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>